<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">

    <test name="TC_001_AddProductToCartWithLogin">
        <classes>
            <class name="com.hepsiburada.tests.TC_001_AddProductToCartWithLogin"/>
        </classes>
    </test>

    <test name="TC_002_AddProductToCartWithoutLogin">
        <classes>
            <class name="com.hepsiburada.tests.TC_002_AddProductToCartWithoutLogin"/>
        </classes>
    </test>
</suite>